<div class="menu-main-menu-container"><ul id="menu-main-menu" class="menu"><li id="menu-item-2945" class="wide menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2945"><a href="http://www.oeconsortium.org/about-oec/">About Us</a>
	<ul class="sub-menu">
		<li id="menu-item-4099" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4099"><a href="http://www.oeconsortium.org/about-oec/">About The Open Education Consortium</a></li>
		<li id="menu-item-4056" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4056"><a href="http://www.oeconsortium.org/about-oec/board-of-directors/">Board of Directors</a></li>
		<li id="menu-item-4100" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4100"><a href="http://www.oeconsortium.org/about-oec/membership/elections-2014/">2014 Elections</a></li>
		<li id="menu-item-4057" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4057"><a href="http://www.oeconsortium.org/about-oec/staff/">Staff</a></li>
		<li id="menu-item-4058" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4058"><a href="http://www.oeconsortium.org/about-oec/committees/">OEC Committees</a></li>
		<li id="menu-item-4059" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4059"><a href="http://www.oeconsortium.org/about-oec/about-cccoer/">Community Colleges</a></li>
		<li id="menu-item-4112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href="http://www.oeconsortium.org/about-oec/membership/">Membership</a></li>
		<li id="menu-item-4060" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4060"><a href="http://www.oeconsortium.org/about-oec/contact-us/">Contact us</a></li>
	</ul>
	</li>
	<li id="menu-item-4168" class="wide menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-4168"><a href="http://www.oeconsortium.org/news/">News &#038; Events</a>
	<ul class="sub-menu">
		<li id="menu-item-4078" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4078"><a href="http://www.oeconsortium.org/news/newsletter/">Newsletter</a></li>
		<li id="menu-item-4087" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4087"><a href="http://www.oeconsortium.org/events/">Events</a></li>
		<li id="menu-item-4088" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4088"><a href="http://conference.ocwconsortium.org">Open Education Global Meeting</a></li>
		<li id="menu-item-4089" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4089"><a href="http://www.openeducationweek.org">Open Education Week</a></li>
	</ul>
	</li>
	<li id="menu-item-2949" class="wide menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2949"><a href="http://www.oeconsortium.org/projects/">Projects</a>
	<ul class="sub-menu">
		<li id="menu-item-4064" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4064"><a href="http://www.oeconsortium.org/projects/showcases/">Showcases</a></li>
		<li id="menu-item-4210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4210"><a href="http://www.oeconsortium.org/projects/awards-for-ocw-excellence/">ACE Awards</a></li>
		<li id="menu-item-4065" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4065"><a href="http://www.oeconsortium.org/projects/impact-of-openness-on-institutions/">Impact of  Openness on Institutions</a></li>
		<li id="menu-item-4066" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4066"><a href="http://www.oeconsortium.org/projects/stem-for-girls/">Girls and Women in STEM</a></li>
		<li id="menu-item-4067" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4067"><a href="http://www.oeconsortium.org/projects/surveyresults/">User Feedback Survey</a></li>
	</ul>
	</li>
	<li id="menu-item-2948" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2948"><a href="http://www.oeconsortium.org/resources/">Resources</a>
	<ul class="sub-menu">
		<li id="menu-item-4090" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4090"><a href="http://www.oeconsortium.org/resources/toolkits/">Toolkit</a></li>
		<li id="menu-item-4091" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4091"><a href="http://www.oeconsortium.org/resources/webinars/">Webinars</a></li>
		<li id="menu-item-4247" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4247"><a href="http://www.oeconsortium.org/projects/stem-for-girls/great-courses-and-teachers-in-stem/">Courses in STEM</a></li>
		<li id="menu-item-4248" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4248"><a href="http://oerconsortium.org/discipline-specific/">Open Textbooks</a></li>
	</ul>
	</li>
	<li id="menu-item-2950" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2950"><a href="http://www.oeconsortium.org/members/">Membership</a>
	<ul class="sub-menu">
		<li id="menu-item-4079" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4079"><a href="http://www.oeconsortium.org/members/">List of members</a></li>
		<li id="menu-item-3250" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3250"><a href="http://www.oeconsortium.org/about-oec/membership/how-to-join/">How to Join</a></li>
		<li id="menu-item-4108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4108"><a href="http://www.oeconsortium.org/about-oec/membership/membership-faqs/">Membership FAQs</a></li>
		<li id="menu-item-4109" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4109"><a href="http://www.oeconsortium.org/about-oec/membership/members-section/">Members Section</a></li>
		<li id="menu-item-4110" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4110"><a href="http://www.oeconsortium.org/about-oec/membership/quarterly-membership-meetings/">Quarterly Membership Meetings</a></li>
		<li id="menu-item-4111" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4111"><a href="http://www.oeconsortium.org/about-oec/style-guide/">Style guide</a></li>
	</ul>
	</li>
	<li id="menu-item-2947" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2947"><a href="http://www.oeconsortium.org/courses/">Courses</a>
	<ul class="sub-menu">
		<li id="menu-item-4076" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4076"><a href="http://www.oeconsortium.org/courses/">Course Search</a></li>
		<li id="menu-item-4075" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4075"><a href="http://www.oeconsortium.org/courses/languages/">Courses by Language</a></li>
		<li id="menu-item-4073" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4073"><a href="http://www.oeconsortium.org/courses/category/">Courses by Category</a></li>
		<li id="menu-item-4074" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4074"><a href="http://www.oeconsortium.org/providers/">Courses by Institution</a></li>
	</ul>
	</li>
	</ul>
</div>
