/* Expertise buttons */

.expertise .btn, .region .btn {
  margin-bottom: 0;
  color: #FFFFFF;
}

.region .btn {
  margin-top: 0;
}

.btn-general {
  @include button-variant(#FFFFFF, #79BD9A, transparent);
}

.btn-oer {
  @include button-variant(#FFFFFF, #00A0B0, transparent);
}

.btn-openaccess {
  @include button-variant(#FFFFFF, #3B8686, transparent);
}

.btn-mooc {
  @include button-variant(#FFFFFF, #0B486B, transparent);
}

.btn-region-africa {
  @include button-variant(#FFFFFF, #79BD9A, transparent);
}

.btn-region-asiapacific {
  @include button-variant(#FFFFFF, #00A0B0, transparent);
}

.btn-region-central-america {
  @include button-variant(#FFFFFF, #3B8686, transparent);
}

.btn-region-europe {
  @include button-variant(#FFFFFF, darken(#3B8686, 5%), transparent);
}

.btn-region-north-america {
  @include button-variant(#FFFFFF, darken(#3B8686, 10%), transparent);
}

.btn-region-south-america {
  @include button-variant(#FFFFFF, darken(#3B8686, 15%), transparent);
}


/* facets */
@mixin button-facet($color){
  @include button-variant(#FFFFFF, $color, transparent);
  
  // padding-bottom: rem-calc(10);
  // font-size: rem-calc(14);
  // margin-bottom: rem-calc(8);

  // text-align: left;
  // padding-left: rem-calc(16);
}

.btn-facet-general {
  @include button-facet(#79BD9A);
}

.btn-facet-oer {
  @include button-facet(#00A0B0);
}

.btn-facet-openaccess {
  @include button-facet(#3B8686);
}

.btn-facet-mooc {
  @include button-facet(#0B486B);
}

.btn-facet-region {
  @include button-facet(darken(#3B8686, 15%));
}
