.search-row-buttons button {
	padding-bottom: rem-calc(10);
	font-size: rem-calc(14);
}

.left-rounded {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.right-rounded {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}