.no-padding {
	padding-left: 0;
	padding-right: 0;	
}

.no-padding-left { padding-left: 0; }
.no-padding-right { padding-right: 0; }

.search-row-buttons button {
	padding-bottom: rem-calc(10);
	font-size: rem-calc(14);
}

.left-rounded {
	border-radius: 3px 0 0 3px;
}

.right-rounded {
	border-radius: 0 3px 3px 0;
}

.facets, .expertise {
	dl { margin-bottom: 0; }

	dd { 
		font-size: rem-calc(14);
		padding-left: rem-calc(16);
	}

	.selected-false {
		dd { display: none; }
	}

}

.expertise {
	dt { margin-bottom: rem-calc(0); }

}

.region a {
	margin-bottom: 0;
}