.no-padding {
	padding-left: 0;
	padding-right: 0;	
}

.no-padding-left { padding-left: 0; }
.no-padding-right { padding-right: 0; }

.left-rounded {
	border-radius: 3px 0 0 3px;
}

.right-rounded {
	border-radius: 0 3px 3px 0;
}

.facets, .expertise {
	dl { margin-bottom: 5px; }

	dd { 
		font-size: 14px;
		padding-left: 16px;
	}

	.selected-false {
		dd { display: none; }
	}

}

.expertise {
	dt { margin-bottom: 0; }

}

.region a {
	margin-bottom: 0;
}