<div class="footer-wrapper">
	<div class="row">
		<div class="small-12 medium-2 columns"><aside id="nav_menu-2" class="widget widget_nav_menu"><h3 class="footer-title">Navigation</h3><div class="menu-navigation-complex-container"><ul id="menu-navigation-complex" class="menu"><li id="menu-item-2376" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2376"><a href="http://www.oeconsortium.org/about-oec/">About Us</a>
<ul class="sub-menu">
	<li id="menu-item-2521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2521"><a href="http://www.oeconsortium.org/about-oec/board-of-directors/">Board of Directors</a></li>
	<li id="menu-item-2523" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2523"><a href="http://www.oeconsortium.org/about-oec/staff/">Staff</a></li>
	<li id="menu-item-2643" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2643"><a href="http://www.oeconsortium.org/about-oec/committees/">OEC Committees</a></li>
	<li id="menu-item-2640" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2640"><a href="http://www.oeconsortium.org/?page_id=2437">Getting Involved</a></li>
</ul>
</li>
<li id="menu-item-2647" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2647"><a href="http://www.oeconsortium.org/news/">News</a>
<ul class="sub-menu">
	<li id="menu-item-2628" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2628"><a></a></li>
	<li id="menu-item-2630" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2630"><a href="http://www.oeconsortium.org/news/in-the-news/">In the News</a></li>
	<li id="menu-item-2631" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2631"><a href="http://www.oeconsortium.org/?page_id=2408">Press Releases</a></li>
	<li id="menu-item-2632" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2632"><a href="http://www.oeconsortium.org/?page_id=2412">Press Releases</a></li>
	<li id="menu-item-2629" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2629"><a href="http://www.oeconsortium.org/?page_id=2414">Upcoming Events</a></li>
</ul>
</li>
<li id="menu-item-2379" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2379"><a href="http://www.oeconsortium.org/courses/">Courses</a></li>
<li id="menu-item-2836" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2836"><a href="http://www.oeconsortium.org/projects/">Projects</a>
<ul class="sub-menu">
	<li id="menu-item-2634" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2634"><a href="http://www.oeconsortium.org/resources/events/ocwc-global/">OCWC Global</a></li>
	<li id="menu-item-2635" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2635"><a href="http://www.oeconsortium.org/?page_id=2435">Open Education Week</a></li>
	<li id="menu-item-2633" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2633"><a href="http://www.oeconsortium.org/projects/awards-for-ocw-excellence/">ACE Awards</a></li>
	<li id="menu-item-2641" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2641"><a href="http://www.oeconsortium.org/?page_id=2423">Project Showcase</a></li>
	<li id="menu-item-2636" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2636"><a href="http://www.oeconsortium.org/?page_id=2425">Case Studies</a></li>
</ul>
</li>
<li id="menu-item-2377" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2377"><a href="http://www.oeconsortium.org/resources/">Resources</a>
<ul class="sub-menu">
	<li id="menu-item-2649" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2649"><a href="http://www.oeconsortium.org/faq/what-is-open-education/">What is Open Education?</a></li>
	<li id="menu-item-2648" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2648"><a href="http://www.oeconsortium.org/faq/what-is-open-courseware/">What is Open Courseware?</a></li>
	<li id="menu-item-2650" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2650"><a href="http://www.oeconsortium.org/resources/toolkits/">Toolkit</a></li>
	<li id="menu-item-2638" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2638"><a href="http://www.oeconsortium.org/?page_id=2443">Document Repository</a></li>
</ul>
</li>
<li id="menu-item-2828" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2828"><a href="http://www.oeconsortium.org/members/">Members</a>
<ul class="sub-menu">
	<li id="menu-item-2821" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2821"><a href="http://www.oeconsortium.org/members/all/">Members list</a></li>
	<li id="menu-item-2871" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2871"><a href="http://www.oeconsortium.org/about-oec/membership/membership-faqs/">Membership FAQs</a></li>
	<li id="menu-item-2872" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2872"><a href="http://www.oeconsortium.org/about-oec/membership/how-to-join/">How to Join</a></li>
	<li id="menu-item-2870" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2870"><a href="http://www.oeconsortium.org/?page_id=2451">Membership Application</a></li>
	<li id="menu-item-2869" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2869"><a href="http://www.oeconsortium.org/about-oec/membership/members-section/">Members Section</a></li>
	<li id="menu-item-2873" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2873"><a href="http://www.oeconsortium.org/?page_id=2455">Elections – OCWC Board of Directors</a></li>
</ul>
</li>
</ul></div></aside></div><div class="small-12 medium-2 columns"><aside id="text-2" class="widget widget_text"><h3 class="footer-title">Social Media</h3>			<div class="textwidget"><ul class="menu">
<li><a href="https://www.facebook.com/OCWConsortium" target="_blank">Facebook </a></li>
<li><a href="https://twitter.com/oeconsortium" target="_blank">Twitter </a></li>
<li><a href="https://www.youtube.com/channel/UC-jcvZ6z94387QDu52g9VNA" target="_blank">Youtube </a></li>
<li class=""><a href="http://www.slideshare.net/OCWConsortium/presentations" target="_blank">Slideshare </a></li>
</ul></div>
		</aside></div>		<div class="small-12 medium-4 columns"><aside id="nav_menu-5" class="widget widget_nav_menu"><h3 class="footer-title">Projects</h3><div class="menu-projects-container"><ul id="menu-projects" class="menu"><li id="menu-item-2969" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2969"><a href="http://conference.ocwconsortium.org/">OCWC Global 2014 Conference</a></li>
<li id="menu-item-2970" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2970"><a href="http://www.openeducationweek.org/">Open Education Week</a></li>
</ul></div></aside></div><div class="small-12 medium-4 columns"><aside id="text-3" class="widget widget_text">			<div class="textwidget"><p class="copyright-notice">All content on oeconsortium.org 
is licensed under a Creative Commons Attribution 3.0 License.</p>
<p class="copyright-notice">Please note that OCW course materials hosted on member sites are governed by the specific licenses chosen by the owners of those sites.</p></div>
		</aside></div>  	</div>
</div>