{% extends 'base.html' %}{% load faceting %}

{% block contents %}
<div class="main-wrapper">
    <div class="row">
        <div class="small-12 medium-4 columns">
            <div class="facets">
                <dl>
                    <dt>Region</dt>
                    {% show_facets facets 'region' %}
                </dl>

                <dl>
                    <dt>General Expertise</dt>
                    {% show_facets facets 'general_expertise' %}
                </dl>

                <dl>
                    <dt>OER Expertise</dt>
                    {% show_facets facets 'oer_expertise' %}
                </dl>

                <dl>
                    <dt>Open Access Expertise</dt>
                    {% show_facets facets 'openacess_expertise' %}
                </dl>

                <dl>
                    <dt>MOOC Expertise</dt>
                    {% show_facets facets 'mooc_expertise' %}                
                </dl>
            </div>
        </div>

        <div class="small-12 medium-8 columns">
            <h2>Search</h2>
            <form method="get" action="/directory/search/" class="row collapse">
                <div class="small-8 columns">
                    {{ form.q }}
                </div>
                <div class="small-4 columns">
                    <button class="button postfix radius">Search</button>
                </div>

            </form>


            {% if page.object_list %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Job Title</th>
                            <th>Institution</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in page.object_list %}
                        <tr>
                            <td><a href="{% url 'directory:person-detail' result.object.slug %}">{{ result.object.first_name }}&nbsp;{{ result.object.last_name }}</a></td>
                            <td>{{ result.object.job_title }}</td>
                            <td>{{ result.object.institution }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Sorry, no results found.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
